# Ignore all folders except for the application folder's and their configurations.
snowplow/
schemas/
tracking_example/
readers/

# Because we ignore the snowplow folder, un-ignore the specific application jars that we have build.
!snowplow/2-collectors/scala-stream-collector/target/scala-2.11/snowplow-stream-collector-0.11.0.jar
!snowplow/3-enrich/stream-enrich/target/scala-2.11/snowplow-stream-enrich-0.12.0.jar
